In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

C:\Users\JCIN\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [5]:
df = pd.read_csv('../dataset/train.csv')

In [6]:
df

,Unnamed: 0,company_name,fyear,status_label,X1,X2,X3,X4,X5,X6,...,X11,X12,X13,X14,X15,X16,X17,X18,Division,MajorGroup
0,0,C_1,1999.0,alive,511267.0,740998.000,833107.0,180447.000,18373.000,70658.000,...,35.163,201026.000,128.348,1024333.000,372.7519,401483.000,1024333.000,935302.00,D,37
1,1,C_1,2000.0,alive,485856.0,701.854,713811.0,179987.000,18577.000,45.790,...,18531.000,204065.000,115187.000,874255.000,377.1180,361642.000,874255.000,809888.00,D,37
2,2,C_1,2001.0,alive,436656.0,710199.000,526477.0,217699.000,22496.000,4711.000,...,-58.939,139.603,77528.000,638721.000,364.5928,399964.000,638721.000,611514.00,D,37
3,3,C_1,2002.0,alive,396412.0,686.621,496747.0,164658.000,27172.000,3573.000,...,-12.410,124106.000,66322.000,606337.000,143.3295,391633.000,606337.000,575592.00,D,37
4,4,C_1,2003.0,alive,432204.0,709.292,523302.0,248666.000,26.680,20811.000,...,3504.000,131884.000,104661.000,651.958,308.9071,407608.000,651.958,604467.00,D,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62784,78677,C_8971,2014.0,alive,233211.0,1099101.000,43338.0,184666.000,14094.000,31521.000,...,25261.000,28095.000,22846.000,104223.000,756.4827,225887.000,104223.000,58608.00,E,44
62785,78678,C_8971,2015.0,alive,105559.0,1865926.000,59184.0,770.103,42592.000,159541.000,...,129688.000,157783.000,54611.000,291153.000,527575.0000,880327.000,291153.000,89.02,E,44
62786,78679,C_8971,2016.0,alive,63971.0,1746235.000,69074.0,683985.000,65057.000,13.994,...,-1442.000,156341.000,42467.000,169858.000,578.8868,770.233,169858.000,90807.00,E,44
62787,78680,C_8971,2017.0,alive,135207.0,1736.110,66527.0,694035.000,65.330,3841.000,...,-20401.000,135941.000,27217.000,161884.000,412.6241,776697.000,161884.000,92713.00,E,44
62788,78681,C_8971,2018.0,alive,82589.0,1625.370,68817.0,632122.000,65.201,2061.000,...,-50.946,84995.000,45839.000,160513.000,354.1786,712687.000,160513.000,93251.00,E,44

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62789 entries, 0 to 62788
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    62789 non-null  int64
 1   company_name  62789 non-null  object
 2   fyear         62789 non-null  float64
 3   status_label  62789 non-null  object
 4   X1            62789 non-null  float64
 5   X2            62789 non-null  float64
 6   X3            62789 non-null  float64
 7   X4            62789 non-null  float64
 8   X5            62789 non-null  float64
 9   X6            62789 non-null  float64
 10  X7            62789 non-null  float64
 11  X8            62789 non-null  float64
 12  X9            62789 non-null  float64
 13  X10           62789 non-null  float64
 14  X11           62789 non-null  float64
 15  X12           62789 non-null  float64
 16  X13           62789 non-null  float64
 17  X14           62789 non-null  float64
 18  X15           62789 non-null  float64
 19  X16           62789 non-null  float64
 20  X17           62789 non-null  float64
 21  X18           62789 non-null  float64
 22  Division      62789 non-null  object
 23  MajorGroup    62789 non-null  int64
dtypes: float64(19), int64(2), object(3)
memory usage: 11.5+ MB

In [8]:
df.isnull().sum()

Unnamed: 0      0
company_name    0
fyear           0
status_label    0
X1              0
X2              0
X3              0
X4              0
X5              0
X6              0
X7              0
X8              0
X9              0
X10             0
X11             0
X12             0
X13             0
X14             0
X15             0
X16             0
X17             0
X18             0
Division        0
MajorGroup      0
dtype: int64

### There are no null values in the dataset.

In [9]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

### No Duplicate Rows

In [11]:
df.columns

Index(['Unnamed: 0', 'company_name', 'fyear', 'status_label', 'X1', 'X2', 'X3',
       'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14',
       'X15', 'X16', 'X17', 'X18', 'Division', 'MajorGroup'],
      dtype='object')

In [12]:
# Rename the columns with meaningful names
df = df.rename(columns={
    'X1': 'Current_Assets',
    'X2': 'Cost_of_Goods_Sold',
    'X3': 'Depreciation_Amortization',
    'X4': 'EBITDA',
    'X5': 'Inventory',
    'X6': 'Net_Income',
    'X7': 'Total_Receivables',
    'X8': 'Market_Value',
    'X9': 'Net_Sales',
    'X10': 'Total_Assets',
    'X11': 'Total_Long_Term_Debt',
    'X12': 'EBIT',
    'X13': 'Gross_Profit',
    'X14': 'Total_Current_Liabilities',
    'X15': 'Retained_Earnings',
    'X16': 'Total_Revenue',
    'X17': 'Total_Liabilities',
    'X18': 'Total_Operating_Expenses'
})

# Optional: also rename other columns for consistency
df = df.rename(columns={
    'status_label': 'Bankruptcy_Status',
    'fyear': 'Financial_Year',
    'Division': 'Division',
    'MajorGroup': 'Major_Group'
})

# Verify the new column names
print(df.columns.tolist())

['Unnamed: 0', 'company_name', 'Financial_Year', 'Bankruptcy_Status', 'Current_Assets', 'Cost_of_Goods_Sold', 'Depreciation_Amortization', 'EBITDA', 'Inventory', 'Net_Income', 'Total_Receivables', 'Market_Value', 'Net_Sales', 'Total_Assets', 'Total_Long_Term_Debt', 'EBIT', 'Gross_Profit', 'Total_Current_Liabilities', 'Retained_Earnings', 'Total_Revenue', 'Total_Liabilities', 'Total_Operating_Expenses', 'Division', 'Major_Group']

In [13]:
df

,Unnamed: 0,company_name,Financial_Year,Bankruptcy_Status,Current_Assets,Cost_of_Goods_Sold,Depreciation_Amortization,EBITDA,Inventory,Net_Income,...,Total_Long_Term_Debt,EBIT,Gross_Profit,Total_Current_Liabilities,Retained_Earnings,Total_Revenue,Total_Liabilities,Total_Operating_Expenses,Division,Major_Group
0,0,C_1,1999.0,alive,511267.0,740998.000,833107.0,180447.000,18373.000,70658.000,...,35.163,201026.000,128.348,1024333.000,372.7519,401483.000,1024333.000,935302.00,D,37
1,1,C_1,2000.0,alive,485856.0,701.854,713811.0,179987.000,18577.000,45.790,...,18531.000,204065.000,115187.000,874255.000,377.1180,361642.000,874255.000,809888.00,D,37
2,2,C_1,2001.0,alive,436656.0,710199.000,526477.0,217699.000,22496.000,4711.000,...,-58.939,139.603,77528.000,638721.000,364.5928,399964.000,638721.000,611514.00,D,37
3,3,C_1,2002.0,alive,396412.0,686.621,496747.0,164658.000,27172.000,3573.000,...,-12.410,124106.000,66322.000,606337.000,143.3295,391633.000,606337.000,575592.00,D,37
4,4,C_1,2003.0,alive,432204.0,709.292,523302.0,248666.000,26.680,20811.000,...,3504.000,131884.000,104661.000,651.958,308.9071,407608.000,651.958,604467.00,D,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62784,78677,C_8971,2014.0,alive,233211.0,1099101.000,43338.0,184666.000,14094.000,31521.000,...,25261.000,28095.000,22846.000,104223.000,756.4827,225887.000,104223.000,58608.00,E,44
62785,78678,C_8971,2015.0,alive,105559.0,1865926.000,59184.0,770.103,42592.000,159541.000,...,129688.000,157783.000,54611.000,291153.000,527575.0000,880327.000,291153.000,89.02,E,44
62786,78679,C_8971,2016.0,alive,63971.0,1746235.000,69074.0,683985.000,65057.000,13.994,...,-1442.000,156341.000,42467.000,169858.000,578.8868,770.233,169858.000,90807.00,E,44
62787,78680,C_8971,2017.0,alive,135207.0,1736.110,66527.0,694035.000,65.330,3841.000,...,-20401.000,135941.000,27217.000,161884.000,412.6241,776697.000,161884.000,92713.00,E,44
62788,78681,C_8971,2018.0,alive,82589.0,1625.370,68817.0,632122.000,65.201,2061.000,...,-50.946,84995.000,45839.000,160513.000,354.1786,712687.000,160513.000,93251.00,E,44

In [14]:
df.nunique()

Unnamed: 0                   62789
company_name                  7176
Financial_Year                  20
Bankruptcy_Status                2
Current_Assets               52311
Cost_of_Goods_Sold           56953
Depreciation_Amortization    52070
EBITDA                       31011
Inventory                    29333
Net_Income                   45931
Total_Receivables            47415
Market_Value                 51614
Net_Sales                    31140
Total_Assets                 46792
Total_Long_Term_Debt         44918
EBIT                         57654
Gross_Profit                 39751
Total_Current_Liabilities    54556
Retained_Earnings            62033
Total_Revenue                51602
Total_Liabilities            54556
Total_Operating_Expenses     56291
Division                        10
Major_Group                     73
dtype: int64

In [17]:
df['Bankruptcy_Status'].value_counts()

Bankruptcy_Status
alive     58586
failed     4203
Name: count, dtype: int64

In [18]:
# Convert string labels to binary
df['Bankruptcy_Status'] = df['Bankruptcy_Status'].replace({
    'failed': 1,
    'alive': 0
}).astype(int)

C:\Users\JCIN\AppData\Local\Temp\ipykernel_28200\4108734785.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Bankruptcy_Status'] = df['Bankruptcy_Status'].replace({

In [19]:
df

,Unnamed: 0,company_name,Financial_Year,Bankruptcy_Status,Current_Assets,Cost_of_Goods_Sold,Depreciation_Amortization,EBITDA,Inventory,Net_Income,...,Total_Long_Term_Debt,EBIT,Gross_Profit,Total_Current_Liabilities,Retained_Earnings,Total_Revenue,Total_Liabilities,Total_Operating_Expenses,Division,Major_Group
0,0,C_1,1999.0,0,511267.0,740998.000,833107.0,180447.000,18373.000,70658.000,...,35.163,201026.000,128.348,1024333.000,372.7519,401483.000,1024333.000,935302.00,D,37
1,1,C_1,2000.0,0,485856.0,701.854,713811.0,179987.000,18577.000,45.790,...,18531.000,204065.000,115187.000,874255.000,377.1180,361642.000,874255.000,809888.00,D,37
2,2,C_1,2001.0,0,436656.0,710199.000,526477.0,217699.000,22496.000,4711.000,...,-58.939,139.603,77528.000,638721.000,364.5928,399964.000,638721.000,611514.00,D,37
3,3,C_1,2002.0,0,396412.0,686.621,496747.0,164658.000,27172.000,3573.000,...,-12.410,124106.000,66322.000,606337.000,143.3295,391633.000,606337.000,575592.00,D,37
4,4,C_1,2003.0,0,432204.0,709.292,523302.0,248666.000,26.680,20811.000,...,3504.000,131884.000,104661.000,651.958,308.9071,407608.000,651.958,604467.00,D,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62784,78677,C_8971,2014.0,0,233211.0,1099101.000,43338.0,184666.000,14094.000,31521.000,...,25261.000,28095.000,22846.000,104223.000,756.4827,225887.000,104223.000,58608.00,E,44
62785,78678,C_8971,2015.0,0,105559.0,1865926.000,59184.0,770.103,42592.000,159541.000,...,129688.000,157783.000,54611.000,291153.000,527575.0000,880327.000,291153.000,89.02,E,44
62786,78679,C_8971,2016.0,0,63971.0,1746235.000,69074.0,683985.000,65057.000,13.994,...,-1442.000,156341.000,42467.000,169858.000,578.8868,770.233,169858.000,90807.00,E,44
62787,78680,C_8971,2017.0,0,135207.0,1736.110,66527.0,694035.000,65.330,3841.000,...,-20401.000,135941.000,27217.000,161884.000,412.6241,776697.000,161884.000,92713.00,E,44
62788,78681,C_8971,2018.0,0,82589.0,1625.370,68817.0,632122.000,65.201,2061.000,...,-50.946,84995.000,45839.000,160513.000,354.1786,712687.000,160513.000,93251.00,E,44

In [20]:
df.describe()

,Unnamed: 0,Financial_Year,Bankruptcy_Status,Current_Assets,Cost_of_Goods_Sold,Depreciation_Amortization,EBITDA,Inventory,Net_Income,Total_Receivables,...,Total_Assets,Total_Long_Term_Debt,EBIT,Gross_Profit,Total_Current_Liabilities,Retained_Earnings,Total_Revenue,Total_Liabilities,Total_Operating_Expenses,Major_Group
count,62789.000000,62789.000000,62789.000000,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,...,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,6.278900e+04,62789.000000
mean,39029.870567,2007.468967,0.066938,2.150171e+05,5.940270e+05,3.789251e+05,1.465220e+05,2.449805e+04,4.435436e+04,6.938075e+04,...,1.237003e+05,1.480400e+04,5.392981e+04,6.780518e+04,5.470338e+05,4.813092e+05,3.466587e+05,5.470338e+05,4.694179e+05,45.069104
std,22797.332566,5.735968,0.249917,7.293540e+05,2.061058e+06,2.097401e+06,6.747103e+05,9.976495e+04,2.309307e+05,2.923196e+05,...,5.009327e+05,1.962621e+05,8.235204e+05,2.670466e+05,2.427817e+06,4.992494e+06,1.342064e+06,2.427817e+06,2.095580e+06,19.800122
min,0.000000,1999.000000,0.000000,-1.300000e+01,7.000000e-03,-3.666450e+05,-2.300000e+01,0.000000e+00,-5.043795e+06,-4.512135e+06,...,7.000000e-03,-7.751248e+06,-2.148494e+07,-6.000000e+00,-1.964999e+06,1.000000e-04,7.000000e-03,-1.964999e+06,-3.171970e+05,1.000000
25%,19210.000000,2002.000000,0.000000,1.286000e+03,3.322800e+03,1.476000e+03,0.000000e+00,7.500400e+01,-7.540000e+02,-9.910000e+00,...,9.705000e+02,-2.605000e+03,-2.992100e+04,2.090000e+02,1.997000e+03,4.603750e+01,1.983330e+03,1.997000e+03,3.057000e+03,30.000000
50%,38867.000000,2007.000000,0.000000,2.091400e+04,4.200200e+04,2.015800e+04,5.130000e+02,1.186000e+03,3.060000e+02,1.108000e+03,...,1.054200e+04,3.314000e+01,-5.202000e+00,3.922000e+03,3.162300e+04,3.792869e+02,1.771700e+04,3.162300e+04,3.506400e+04,38.000000
75%,58822.000000,2012.000000,0.000000,1.519670e+05,3.294390e+05,1.774980e+05,1.541700e+04,1.198300e+04,1.874600e+04,3.267600e+04,...,6.815700e+04,8.327000e+03,2.250600e+04,3.791900e+04,2.953260e+05,3.242606e+03,1.486450e+05,2.953260e+05,2.561060e+05,59.000000
max,78681.000000,2018.000000,1.000000,3.132258e+07,6.723494e+07,1.632456e+08,1.829466e+07,4.440438e+06,9.783515e+06,1.256672e+07,...,2.786969e+07,7.521731e+06,3.095666e+07,1.154206e+07,1.679396e+08,2.744299e+08,4.042171e+07,1.679396e+08,1.657008e+08,99.000000

In [21]:
df = df.drop('Unnamed: 0', axis=1)

In [22]:
df

,company_name,Financial_Year,Bankruptcy_Status,Current_Assets,Cost_of_Goods_Sold,Depreciation_Amortization,EBITDA,Inventory,Net_Income,Total_Receivables,...,Total_Long_Term_Debt,EBIT,Gross_Profit,Total_Current_Liabilities,Retained_Earnings,Total_Revenue,Total_Liabilities,Total_Operating_Expenses,Division,Major_Group
0,C_1,1999.0,0,511267.0,740998.000,833107.0,180447.000,18373.000,70658.000,89031.000,...,35.163,201026.000,128.348,1024333.000,372.7519,401483.000,1024333.000,935302.00,D,37
1,C_1,2000.0,0,485856.0,701.854,713811.0,179987.000,18577.000,45.790,64367.000,...,18531.000,204065.000,115187.000,874255.000,377.1180,361642.000,874255.000,809888.00,D,37
2,C_1,2001.0,0,436656.0,710199.000,526477.0,217699.000,22496.000,4711.000,27207.000,...,-58.939,139.603,77528.000,638721.000,364.5928,399964.000,638721.000,611514.00,D,37
3,C_1,2002.0,0,396412.0,686.621,496747.0,164658.000,27172.000,3573.000,30745.000,...,-12.410,124106.000,66322.000,606337.000,143.3295,391633.000,606337.000,575592.00,D,37
4,C_1,2003.0,0,432204.0,709.292,523302.0,248666.000,26.680,20811.000,47.491,...,3504.000,131884.000,104661.000,651.958,308.9071,407608.000,651.958,604467.00,D,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62784,C_8971,2014.0,0,233211.0,1099101.000,43338.0,184666.000,14094.000,31521.000,45615.000,...,25261.000,28095.000,22846.000,104223.000,756.4827,225887.000,104223.000,58608.00,E,44
62785,C_8971,2015.0,0,105559.0,1865926.000,59184.0,770.103,42592.000,159541.000,202133.000,...,129688.000,157783.000,54611.000,291153.000,527575.0000,880327.000,291153.000,89.02,E,44
62786,C_8971,2016.0,0,63971.0,1746235.000,69074.0,683985.000,65057.000,13.994,79051.000,...,-1442.000,156341.000,42467.000,169858.000,578.8868,770.233,169858.000,90807.00,E,44
62787,C_8971,2017.0,0,135207.0,1736.110,66527.0,694035.000,65.330,3841.000,69171.000,...,-20401.000,135941.000,27217.000,161884.000,412.6241,776697.000,161884.000,92713.00,E,44
62788,C_8971,2018.0,0,82589.0,1625.370,68817.0,632122.000,65.201,2061.000,67262.000,...,-50.946,84995.000,45839.000,160513.000,354.1786,712687.000,160513.000,93251.00,E,44

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62789 entries, 0 to 62788
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   company_name               62789 non-null  object
 1   Financial_Year             62789 non-null  float64
 2   Bankruptcy_Status          62789 non-null  int32
 3   Current_Assets             62789 non-null  float64
 4   Cost_of_Goods_Sold         62789 non-null  float64
 5   Depreciation_Amortization  62789 non-null  float64
 6   EBITDA                     62789 non-null  float64
 7   Inventory                  62789 non-null  float64
 8   Net_Income                 62789 non-null  float64
 9   Total_Receivables          62789 non-null  float64
 10  Market_Value               62789 non-null  float64
 11  Net_Sales                  62789 non-null  float64
 12  Total_Assets               62789 non-null  float64
 13  Total_Long_Term_Debt       62789 non-null  float64
 14  EBIT                       62789 non-null  float64
 15  Gross_Profit               62789 non-null  float64
 16  Total_Current_Liabilities  62789 non-null  float64
 17  Retained_Earnings          62789 non-null  float64
 18  Total_Revenue              62789 non-null  float64
 19  Total_Liabilities          62789 non-null  float64
 20  Total_Operating_Expenses   62789 non-null  float64
 21  Division                   62789 non-null  object
 22  Major_Group                62789 non-null  int64
dtypes: float64(19), int32(1), int64(1), object(2)
memory usage: 10.8+ MB

In [24]:
df.nunique()

company_name                  7176
Financial_Year                  20
Bankruptcy_Status                2
Current_Assets               52311
Cost_of_Goods_Sold           56953
Depreciation_Amortization    52070
EBITDA                       31011
Inventory                    29333
Net_Income                   45931
Total_Receivables            47415
Market_Value                 51614
Net_Sales                    31140
Total_Assets                 46792
Total_Long_Term_Debt         44918
EBIT                         57654
Gross_Profit                 39751
Total_Current_Liabilities    54556
Retained_Earnings            62033
Total_Revenue                51602
Total_Liabilities            54556
Total_Operating_Expenses     56291
Division                        10
Major_Group                     73
dtype: int64

In [29]:
df.to_csv('../dataset/cleaned_bankruptcy_data.csv', index=False)